*{
    box-sizing: border-box;
    font-family:'Lato', sans-serif;
    padding: 0;
    margin: 0;
}

.container{
    padding: 5%;
}

#id_username,
#id_password{
    padding: 10px 15px;
    width: 200px;
    border-radius: 10px;
    outline: none;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    transition: all 0.3s ease;
}

#id_password:focus,
#id_username:focus{
    border: 1px solid aqua;
}

ul.full{
    list-style: none;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

a{
    text-decoration: none;
    color: #555;
    transition: all 0.3s ease;
    position: relative;
}

a::after{
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #555;
    transition: all 0.3s ease;
    bottom: -5px;
    left: 0;
    right: auto;
}

a:hover{
    color: #000;
}

a:hover::after{
    width: 100%;
    background-color: #000;
}